[Unit]
Description=CO2Sensor MQTT client
Documentation=https://github.com/irimitenkan/CO2MqttSensor#README
# limit to 10 restarts
StartLimitBurst=10
# StartLimitIntervalSec=1d
# StartLimitIntervalSec=300
After=network.target
[Service]
WorkingDirectory=%h/CO2MqttSensor
ExecStart=python3 -u co2sensor.py
Restart=always
# wait 60s for possible WiFi reconnection
RestartSec=60
[Install]
WantedBy=default.target
